*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    
    height: auto;
    max-width:100vw;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #262626;
    font-size: 20px;
    
}
/* |||||||||||||||| header ||||||||||||||||||||||||\*/
#logo{
    width: 6em;
    height: auto;
    margin-left: 2em;
    
    
}

header{
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    background-color: rgba(38, 38, 38, 0.8);
  
    backdrop-filter: blur(1.7px);
    z-index: 80;
    
    
    
    
   


}

nav{
    
    top: 2em;
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3em;
    
   
}

nav a {
    text-decoration: none;
    margin-left: 3em;
    font-weight: bold;
    color: #19bfb7;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

nav a:hover{
    color: purple;
    transform: scale(1.1);
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    
}
/* |||||||||||||||| header ||||||||||||||||||||||||\*/



/* |||||||||||||||| hero ||||||||||||||||||||||||\*/

.container{
    width: 80vw;
    height: 80vh;
    margin: 0 auto  1em auto;
}

.hero{
    position: relative;
    margin-bottom: 7em;
    min-height: 80vh;
    
    
    
    
   
    
}

#canvas1{
    width: 100%;
    height: 100%;
    z-index: 1;
   
}

.arrov{
    position: absolute;
    bottom: 0px;
    left: calc(50% - 1em);
    width: 2em;
    height: 2em;
    cursor: pointer;
    z-index: 79;
    animation: bounce 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    
}

  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

.arrowSvg{
    width: 100%;
    height: 100%;
    fill: #a4036f;
    transform:rotate(90deg);
    

}



.glass{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(10,10,10,.01);
    backdrop-filter: blur(1.7px);
    z-index: 50;
   
}


/* |||||||||||||||| hero ||||||||||||||||||||||||\*/
/* |||||||||||||||| main||||||||||||||||||||||||\*/
main{
    background-color: #e8e9eb;
    
}

.mainTitle{
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
    color:#262626;
    
}
.services{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
    
}

.card{
    width: 40%;
    height: auto;
    box-shadow: 1px 1px 3px #262626 ;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #19bfb7;
    transition: background 0.5s ease-in-out;
    
    
   
}

.card:hover{
    background-color: #a4036f;
    transform: scale(1.1);
    color: #e8e9eb;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    border-radius: 20px;
}
.icon{
    width: 20%;
    
    
}

.about{
    width: 100%;
    
    color: #19bfb7;
    padding: 10em;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
   
}

.contact{
    color:#19bfb7;
    background-color: #262626;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 10vh;
}

/* |||||||||||||||| main ||||||||||||||||||||||||\*/





/* |||||||||||||||| footer ||||||||||||||||||||||||\*/


footer{
    display: flex;
    justify-content: center;
    color: #19bfb7;
    font-size: .7em;
    padding: 0.5em;
}
